//Header Section

.headerSection {
  display: flex;
  flex-direction: column;
  //height: 90vh;
  background: #F5F3FF;
  //background: radial-gradient(circle, rgba(141, 198, 255, 1) 0%, rgb(100, 175, 255) 100%);

  nav {
    color: #3C325C;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    list-style: none;

    .navbarLogo {
      margin-top: auto;
      margin-bottom: auto;
      font-size: 2rem;
      font-weight: 900;
    }

    .nonLogoItems {
      display: flex;
      flex-direction: row;
      margin: auto auto auto 4rem;

      .navbarItem {
        margin: 0 0 0 2rem;
        padding: 1rem 1.5rem;
        border-radius: 2rem;

        &:hover {
          transition: 0.1s;
          background-color: #AC9FF2;
        }
      }

    }

    .contactButton {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #AC9FF2;
      color: #F5F3FF;
      border-radius: 2rem;

    }

  }

  .headerContainer {
    position: sticky;
    //height: 100vh;
    margin-top: 3rem;
    //border: #a799f1 5px solid;

    //border-left: 2px solid #3C325C;
    //border-radius: 2rem;

    .headerSubText {
      font-size: 1.4rem;
      color: #3C325C;
      font-weight: 400;
      text-align: center;
      margin-top: 5.5rem;
    }

    .headerText {
      margin-top: 0;
      margin-bottom: 5.5rem;
      color: #3C325C;
      font-size: 7rem;
      font-weight: 600;
      line-height: 8rem;
      text-align: center;


    }
  }
}

//Services Section
.servicesServicesContainer {
  height: 650vh;

  .servicesCardContainer {
    max-width: 100vw;
    background-color: transparent;
    height: 100vh;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding: 0 2rem;

    .serviceCardItem {
      background-color: #3C325C;
      filter: grayscale(1);
      margin-top: auto;
      margin-bottom: auto;
      height: 80vh;
      width: 35vw;
      border-radius: 3rem;
      padding: 2rem;
      -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.10);
      -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.10);
      box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.10);
      color: white;

      &:hover {
        filter: none;
      }
    }

    #oneCard {

    }

    #twoCard {

    }

    #threeCard {

    }

    #fourCard {

    }
  }
}